<div>
    <h2 id="page-heading">
        <span jhiTranslate="myschoolApp.teacher.home.title">Teachers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teacher" [routerLink]="['/teacher/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="myschoolApp.teacher.home.createLabel">
            Create a new Teacher
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="teachers?.length === 0">
        <span jhiTranslate="myschoolApp.teacher.home.notFound">No teachers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="teachers && teachers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.designation">Designation</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.speciality">Speciality</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.lastName">Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.firstName">First Name</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.arabicLastName">Arabic Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.arabicFirstName">Arabic First Name</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.dateOfBirth">Date Of Birth</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.bloodGroup">Blood Group</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.gender">Gender</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.address">Address</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.picture">Picture</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.password">Password</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.teacher.nationality">Nationality</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teachers ;trackBy: trackId">
                    <td><a [routerLink]="['/teacher', teacher.id, 'view']">{{ teacher.id }}</a></td>
                    <td>{{ teacher.designation }}</td>
                    <td>{{ teacher.speciality }}</td>
                    <td>{{ teacher.lastName }}</td>
                    <td>{{ teacher.firstName }}</td>
                    <td>{{ teacher.arabicLastName }}</td>
                    <td>{{ teacher.arabicFirstName }}</td>
                    <td>{{ teacher.dateOfBirth | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'myschoolApp.BloodGroup.' + teacher.bloodGroup }}">{{ teacher.bloodGroup }}</td>
                    <td jhiTranslate="{{ 'myschoolApp.Gender.' + teacher.gender }}">{{ teacher.gender }}</td>
                    <td>{{ teacher.address }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher.picture }}</td>
                    <td>{{ teacher.password }}</td>
                    <td>{{ teacher.nationality }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/teacher', teacher.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/teacher', teacher.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(teacher)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
