<div>
    <h2 id="page-heading">
        <span jhiTranslate="myschoolApp.generalTimeTableElement.home.title">General Time Table Elements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-general-time-table-element" [routerLink]="['/general-time-table-element/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="myschoolApp.generalTimeTableElement.home.createLabel">
            Create a new General Time Table Element
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="generalTimeTableElements?.length === 0">
        <span jhiTranslate="myschoolApp.generalTimeTableElement.home.notFound">No generalTimeTableElements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="generalTimeTableElements && generalTimeTableElements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.generalTimeTableElement.dayOfWeek">Day Of Week</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.generalTimeTableElement.houreFrom">Houre From</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.generalTimeTableElement.minuteFrom">Minute From</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.generalTimeTableElement.houreTo">Houre To</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.generalTimeTableElement.minuteTo">Minute To</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.generalTimeTableElement.subject">Subject</span></th>
                    <th scope="col" ><span jhiTranslate="myschoolApp.generalTimeTableElement.generalTimeTable">General Time Table</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let generalTimeTableElement of generalTimeTableElements ;trackBy: trackId">
                    <td><a [routerLink]="['/general-time-table-element', generalTimeTableElement.id, 'view']">{{ generalTimeTableElement.id }}</a></td>
                    <td jhiTranslate="{{ 'myschoolApp.DayOfWeek.' + generalTimeTableElement.dayOfWeek }}">{{ generalTimeTableElement.dayOfWeek }}</td>
                    <td>{{ generalTimeTableElement.houreFrom }}</td>
                    <td>{{ generalTimeTableElement.minuteFrom }}</td>
                    <td>{{ generalTimeTableElement.houreTo }}</td>
                    <td>{{ generalTimeTableElement.minuteTo }}</td>
                    <td>
                        <div *ngIf="generalTimeTableElement.subject">
                            <a [routerLink]="['/subject', generalTimeTableElement.subject?.id, 'view']" >{{ generalTimeTableElement.subject?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="generalTimeTableElement.generalTimeTable">
                            <a [routerLink]="['/general-time-table', generalTimeTableElement.generalTimeTable?.id, 'view']" >{{ generalTimeTableElement.generalTimeTable?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/general-time-table-element', generalTimeTableElement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/general-time-table-element', generalTimeTableElement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(generalTimeTableElement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
