<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-student-heading" jhiTranslate="myschoolApp.student.home.createOrEditLabel">Create or edit a Student</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.arabicLastName" for="field_arabicLastName">Arabic Last Name</label>
                    <input type="text" class="form-control" name="arabicLastName" id="field_arabicLastName"
                           formControlName="arabicLastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.arabicFirstName" for="field_arabicFirstName">Arabic First Name</label>
                    <input type="text" class="form-control" name="arabicFirstName" id="field_arabicFirstName"
                           formControlName="arabicFirstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.bloodGroup" for="field_bloodGroup">Blood Group</label>
                    <select class="form-control" name="bloodGroup" formControlName="bloodGroup" id="field_bloodGroup">
                        <option value="OP">{{ 'myschoolApp.BloodGroup.OP' | translate }}</option>
                        <option value="OM">{{ 'myschoolApp.BloodGroup.OM' | translate }}</option>
                        <option value="AM">{{ 'myschoolApp.BloodGroup.AM' | translate }}</option>
                        <option value="AP">{{ 'myschoolApp.BloodGroup.AP' | translate }}</option>
                        <option value="BM">{{ 'myschoolApp.BloodGroup.BM' | translate }}</option>
                        <option value="BP">{{ 'myschoolApp.BloodGroup.BP' | translate }}</option>
                        <option value="ABP">{{ 'myschoolApp.BloodGroup.ABP' | translate }}</option>
                        <option value="ABM">{{ 'myschoolApp.BloodGroup.ABM' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.classroom" for="field_classroom">Classroom</label>
                    <input type="text" class="form-control" name="classroom" id="field_classroom"
                           formControlName="classroom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{ 'myschoolApp.Gender.MALE' | translate }}</option>
                        <option value="FEMALE">{{ 'myschoolApp.Gender.FEMALE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.picture" for="field_picture">Picture</label>
                    <input type="text" class="form-control" name="picture" id="field_picture"
                           formControlName="picture"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.schoolOfOrigin" for="field_schoolOfOrigin">School Of Origin</label>
                    <input type="text" class="form-control" name="schoolOfOrigin" id="field_schoolOfOrigin"
                           formControlName="schoolOfOrigin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.nationality" for="field_nationality">Nationality</label>
                    <input type="text" class="form-control" name="nationality" id="field_nationality"
                           formControlName="nationality"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.tutor1" for="field_tutor1">Tutor 1</label>
                    <select class="form-control" id="field_tutor1" name="tutor1" formControlName="tutor1">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tutorOption.id === editForm.get('tutor1')!.value?.id ? editForm.get('tutor1')!.value : tutorOption" *ngFor="let tutorOption of tutors; trackBy: trackById">{{ tutorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.tutor2" for="field_tutor2">Tutor 2</label>
                    <select class="form-control" id="field_tutor2" name="tutor2" formControlName="tutor2">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tutorOption.id === editForm.get('tutor2')!.value?.id ? editForm.get('tutor2')!.value : tutorOption" *ngFor="let tutorOption of tutors; trackBy: trackById">{{ tutorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myschoolApp.student.gradeClass" for="field_gradeClass">Grade Class</label>
                    <select class="form-control" id="field_gradeClass" name="gradeClass" formControlName="gradeClass">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gradeClassOption.id === editForm.get('gradeClass')!.value?.id ? editForm.get('gradeClass')!.value : gradeClassOption" *ngFor="let gradeClassOption of gradeclasses; trackBy: trackById">{{ gradeClassOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
